<a href="https://colab.research.google.com/github/tara-97/Machine_Learing/blob/master/BmiLifePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIFE EXPATENCY OF PEOPLE PREDICTION USING THEIR BMI**

In [1]:
# import necessary module
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
# import the data
bmi_and_life=pd.read_csv('bmi_and_life_expetanct.csv')
bmi_and_life.head()

       Country  Life expectancy       BMI
0  Afghanistan             52.8  20.62058
1      Albania             76.8  26.44657
2      Algeria             75.5  24.59620
3      Andorra             84.6  27.63048
4       Angola             56.7  22.25083

In [3]:
# implement a model and fit to the data
model=LinearRegression()
model.fit(bmi_and_life[['BMI']],bmi_and_life[['Life expectancy']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [4]:
# predict the life expaatancy for bunch of bmis.
laos_life_exp=model.predict([[21.07931 ]])

In [5]:
laos_life_exp

array([[60.31564716]])